/* CSS declarations go here */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    text-align: center;
    padding-bottom:50px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*background-color: rgba(255,153,51,0.1);*/

}

.outer {
    max-width: 400px;
    margin: 0 auto;
}

.navbar-inner {
    background: #0099cc;
    background-image: none;
}

.topic {
    cursor: pointer;
    padding: 5px 10px;
}

.topic .name {
    display: inline-block;
    width: 40%;
    font-size: 1.6em;
    vertical-align: middle;
}

.topic .score {
    display: inline-block;
    width: 20%;
/*    text-align: right;*/
    font-size: 2em;
    font-weight: bold;
    color: #777;
    vertical-align: middle;    
}

.topic .plus {
    display: inline-block;
    background-image: url('images/circle_orange_1.png');
}

#total_score {
    display: inline-block;
    height:133px;
    width:133px;
    background-image: url('images/circle_orange_large.png');
}

.topic .go {
    display: inline-block;
}

.topic.selected {
    background-color: yellow;
}

.topic.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0;
}

.none {
    color: #777;
}

.inc {
    margin: 5px 0;
    font-size: 0.6em;
}
.topicBoard {
    position: relative;
    top: 100px;
}

.adminMessage {
    background-color: yellow;
}