/* CSS declarations go here */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    text-align: center;
    padding-bottom:50px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*background-color: rgba(255,153,51,0.1);*/
}

.outer {
    max-width: 400px;
    margin: 0 auto;
}


/*Navigation Bar*/
    .navbar-inner {
        background: #0099cc;
        background-image: none;
    }

    .title{
        color:white;
        padding:0;
    }

    h2{
        margin:5px 0px 5px 0px;
        font-size: 25pt;
        font-weight:100;
    }

    .left_button{
        margin-top:8px;
        color:white;
    }

    .right_button{
        margin-top:8px;
        color:white;
        padding:0;
    }


/*Topic Board*/
    .topicBoard {
        position: relative;
        top: 46px;
        padding-bottom:150px;
    }


    .topic {
        cursor: pointer;
        padding: 5px 10px;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: #0099cc;
    }

    .topic .name {
        font-size: 1.8em;
        vertical-align: middle;
        text-align: left;
    }

    .topic .score {
        font-size: 3em;
        font-weight: bold;
        color: white;
        vertical-align: middle;    
    }

    .topic .plus {
        margin:5px 0px 5px 0px;
        vertical-align: middle;
        height:61px;
        width:61px;
        background-image: url('images/circle_orange_1.png');
    }

    .topic .go {
        margin-top: 22px;
    }

    .topic.selected {
        background-color: rgba(255,153,51,0.1);
    }

    .topic.selected .score {
        /*color: black;*/
    }

#topic_creation_form{
    position: relative;
    top: 60px;
}


#scoreboard{
    position: relative;
    top: 60px;
}

#description{
    color:#0099cc;
}

#total_score {
    display:inline-block;
    vertical-align: middle;
    font-size: 40pt;
    height:133px;
    width:133px;
    background-image: url('images/circle_orange_large.png');

}

#footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
}

/*
.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0;
}

.none {
    color: #777;
}

.inc {
    margin: 5px 0;
    font-size: 0.6em;
}

.adminMessage {
    background-color: yellow;
}*/