@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';


/* CSS declarations go here */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    text-align: center;
    padding-bottom:50px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*background-color: rgba(255,153,51,0.1);*/
}

.outer {
    max-width: 400px;
    margin: 0 auto;
}

.btn:focus {
  outline: none;
}


/*Navigation Bar*/
    .navbar-inner {
        background: #0099cc;
        background-image: none;
        height:60px;
    }

    .title_box{
        color:white;
    }

    .title{
        text-align: center;
        vertical-align: middle;
        line-height: 58px;
        margin:5px 0px 5px 0px;
        font-size: 16pt;
        font-weight:100;
    }


    .left_button{
        color:white;
        line-height: 40px;
        margin-top: 10px;
    }

    .right_button{
        color:white;
        line-height: 40px;
        margin-top: 10px;
    }


/*Topic Board*/
    .topicBoard {
        position: relative;
        top: 60px;
        padding-bottom:150px;
    }

    #add_topic{
        background-image: url('images/plus_white.png');
        background-repeat: no-repeat;
        background-position: center;
        height:44px;
    }


    .topic {
        cursor: pointer;
        padding: 5px 10px;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: #0099cc;
    }

    .private_small_icon{
        background-image: url('images/private_icon_grey.png');
        background-repeat: no-repeat;
        background-position: center;
        height:21px;
        margin-top: 10px;
    }

    .public_small_icon{
        background-image: url('images/public_icon_grey.png');
        background-repeat: no-repeat;
        background-position: center;
        height:18px;
        margin-top: 13px;
    }

    .link_icon.selected {
        background-image: url('images/link_icon_blue.png');
    }
    .link_icon {
        background-image: url('images/link_icon_grey.png');
        background-repeat: no-repeat;
        background-position: center;
        height:44px;
        width:44px;
        margin-top:0px;
    }


    .topic .name {
        font-size: 1.3em;
        vertical-align: middle;
        text-align: left;
        color:#0099cc;
    }

    .topic .score {
        font-size: 2em;
        font-weight: normal;
        color: white;
        vertical-align: middle;    
    }

    .topic .plus {
        margin:5px 0px 5px 0px;
        line-height: 61px;
        height:61px;
        width:61px;
        background-image: url('images/circle_orange_1.png');
        background-repeat: no-repeat;
    }

    .topic .go {
        height:62px;
        width:44px;
        margin-left:-22px;
        background-image: url('images/right_chevron_blue.png');
        background-repeat: no-repeat;
        background-position: center;

    }

    .topic.selected {
        background-color: rgba(255,153,51,0.1);
    }

    .creator{
        font-size:10pt;
        color:black;
        line-height: 40px;
        position: absolute;
        z-index: 10;
        color:#0099cc;
        margin-top: -20px;
    }

/*Topic creation*/
    
    #cancel_new_topic{
        height:44px;
        background-image: url('images/left_chevron_white.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    #new_topic{
        height:44px;
        background-image: url('images/check_white.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #topic_creation_form{
        position: relative;
        top: 60px;
    }

    #private_icon{
        background-repeat: no-repeat;
        background-position: center;
        height:76px;
    }
    #private_icon.enabled{
        background-image: url('images/lock_blue_1.png');
    }
    #private_icon.disabled{
        background-image: url('images/lock_grey_1.png');
    }


    #public_icon{
        margin-top:11px;
        background-repeat: no-repeat;
        background-position: center;
        height:65px;
    }
    #public_icon.enabled{
        background-image: url('images/group_blue_1.png');
    }
    #public_icon.disabled{
        background-image: url('images/group_grey_1.png');
    }

    #shared_with{
        font-size: 18pt;
        font-weight: 100;
        color:#0099cc;
    }

/*Timeline*/
    #scoreboard{
        position: relative;
        top: 70px;
    }

    #back{
        background-image: url('images/left_chevron_white.png');
        background-repeat: no-repeat;
        background-position: center;
        height:44px;
    }

    #my_score {
        color: #0099cc;
        font-size: 20pt;
        line-height: 60px;
        background-image: url('images/my_count.png');
        background-repeat: no-repeat;
        height:90px;
        width:62px;
    }

    .link_icon_selected {
        background-image: url('images/link_icon_blue.png');
        background-repeat: no-repeat;
        background-position: center;
        height:18px;
        width:35px;
        margin-top: 13px;
    }

    #description{
        color:#0099cc;
    }

    #total_score {
        display:inline-block;
        height:133px;
        width:133px;
        background-image: url('images/circle_orange_large.png');
        background-repeat: no-repeat;
        text-align:center;
        line-height: 133px;
        color:white;
        font-size: 50pt;
        font-weight:150;

    }

    .log{
        color:#0099cc;
        text-align: left;
    }

    .mine{
        text-align:right;   
    }


    .formatted_time{
        color:grey;
        font-size: 8pt;
    }

    .admin_formatted_time{
        color:grey;
        font-size: 8pt;
    }

    .count.mine{
        border-width: 0px 2px 0px 0px;
        padding-right: 5px;
    }

    .count{
        border-style: solid;
        border-width: 0px 0px 0px 2px;
        border-color: #ff9933;
        padding-left: 5px;
        margin-bottom: 8px;
    }



    .score_log{
        color:#ff9933;
        font-size: 15pt;
        font-weight: bold;
    }
    .name_log{
        font-size:11pt;
        color:#0099cc;
    }


    .message{
 /*       border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #0099cc;*/
        border-radius:10px;
        padding:2px 5px;
        background-color: rgba(255,153,51,0.1);
        margin-bottom: 8px;
        font-size:11pt;
    }


    .message .uname{
        font-weight:normal;
        font-size: 13pt;    
    }
    


    .adminMessage{
  /*      border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #ff9933;*/
        border-radius:10px;
        background-color: rgba(0,153,204,0.05);
        margin-bottom: 8px;
        padding:2px 5px;
        color:#ff9933;
        font-size:11pt;
    }
    .adminMessage .admin_uname{
        font-weight:normal;
        font-size: 13pt;
    }

    .chillbot{
        background-image: url('images/chillbot.png');
        background-size: 14px 21px;
        float:right;
        width:14px;
        height:21px;

    }


#footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
}

/*
.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0;
}

.none {
    color: #777;
}

.inc {
    margin: 5px 0;
    font-size: 0.6em;
}

.adminMessage {
    background-color: yellow;
}*/