<?xml version='1.0' encoding='utf-8'?>
<widget id="com.meteor.tilt.tiltpush" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>tilt</name>
    <description>
        An Apache Cordova application to prototype wearables and stuff
    </description>
    <author email="mickael@holdit.fr" href="http://holdit.fr">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
