/*Topics Board*/
.topicsBoard {
  position: relative;
  top: 60px;
  padding-bottom:150px;
}

#add_topic{
  background-image: url('images/plus_white.png');
  background-repeat: no-repeat;
  background-position: center;
  height:44px;
}